@if(identity){
  <div class="head-page">
    <h1>{{titulo}}</h1>
    @if(identity && identity.role == 'ROLE_ADMIN'){
    <a [routerLink]="['/crear-artista']" class="btn btn-default">
      Añadir artista
    </a>
    }

    <ul class="pagination pull-right">
      <li><a [routerLink]="['/artistas', prev_page]">&laquo;</a></li>
      <li><a [routerLink]="['/artistas', next_page]">&raquo;</a></li>
    </ul>
</div>

<div class="clearfix"></div>

<ul class="artist-list">
  @for(artist of artists; track artist.name){
    <li class="col-lg-3 artist-item">
      <div class="artist-image">
        <img src="{{url + 'get-image-artist/' + artist.image}}"/>
      </div>
      <div class="artist-name">
        <a [routerLink]="['/artista', artist._id]">
          {{artist.name}}
        </a>
        @if(identity.role == 'ROLE_ADMIN'){
          <div class="buttons">
            <a [routerLink]="['/editar-artista', artist._id]" class="btn btn-sm btn-warning">Editar</a>
            <a (click)="onDeleteConfirm(artist._id)" class="btn btn-sm btn-danger">Borrar</a>
          </div>
          @if(confirmado == artist._id){
            <div class="seguro">
              <a (click)="onDeleteArtist(artist._id)" class="btn btn-sm btn-danger">Eliminar</a>
              <a (click)="onCancelArtist()" class="btn btn-sm btn-primary">Cancelar</a>
            </div>
          }
        }
      </div>
    </li>
  }@empty {
    <li>No hay lista a visualizar</li>
  }
</ul>
}


